
    <h2>There are <span class="underlined"><%= @contacts.length  %></span> contacts</h2>
    <form class="search" action="/contacts" method="get">
      <input type="text" name="search" value="">
      <input type="submit" >
    </form>

    <ul class="contacts-list">
      <% @contacts.each do |contact| %>
      <li>
        <p><%= contact.full_name %> (<%= contact.email %>)</p>
        <p>
          <a href="contacts/<%= contact.id %>">Show</a> |
          <a href="contacts/<%= contact.id %>/edit">Edit</a>
      </li>
      <% end %>
    </ul>
