<h2>Edit Contact</h2>

<form class="new-contact-form" action="/contacts/<%= @contact.id  %>" method="post">
  <input type="hidden" name="_method" value="PUT">
  <input type="text" name="first_name" placeholder="First Name" value="<%= @contact.first_name %>">
  <input type="text" name="last_name" placeholder="Last Name" value="<%= @contact.last_name %>">
  <input type="text" name="email" placeholder="E-mail" value="<%= @contact.email %>">
  <input type="text" name="note" placeholder="Notes"  value="<%= @contact.note %>">
  <input type="submit" name="submit" value="Update Contact" >
  <a href="/contacts/<%= @contact.id %>" >Show</a>
</form>
