
<div class="contact-box">
  <h1><%= @contact.full_name %></h1>
  <p>First Name: <%= @contact.first_name %></p>
  <p>Last Name: <%= @contact.last_name %></p>
  <p>Email: <%= @contact.email %></p>
  <p>notes: <%= @contact.notes? %></p>
</div>
