
<div class="contact-box">
  <h1><%= @contact.full_name %></h1>
  <p>First Name: <%= @contact.first_name %></p>
  <p>Last Name: <%= @contact.last_name %></p>
  <p>Email: <%= @contact.email %></p>
  <p>notes: <%= @contact.notes? %></p>
  <form action="/contacts/<%= @contact.id %>" method="post">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" name="delete" value="Delete">
  </form>
  <a href="/contacts/<%= @contact.id %>/edit">Edit</a>
</div>
